<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Product Page</title>
    <link rel="icon" href="data:;base64,=">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/common/page.css" rel="stylesheet">
    <script src="https://browser.sentry-cdn.com/5.6.3/bundle.min.js" integrity="sha384-/Cqa/8kaWn7emdqIBLk3AkFMAHBk0LObErtMhO+hr52CntkaurEnihPmqYj3uJho" crossorigin="anonymous">
    </script>
    <script>
        Sentry.init({ dsn: "<%- sentry_dns %>" });
    </script>
  </head>
  <body>
    <main id="app"><%- html %></main>
    <script src="/common/document-register-element.js"></script>
    <script src="/red/page.js" async></script>
    <script src="/blue/fragments.js" async></script>
    <script src="/green/fragments.js" async></script>
  </body>
</html>